*.DS_Store
*.iws
*_bak*
*_old*
error_log_*
.vscode
updates/
Thumbs.db
*.backup
*.SI
*.psd
*.aup3
*/not-in-use/*
*_raw*
*.exe
*.prproj
*.bak
*.old
*.rar
*.zip
*.bat
*.mp4
*.log
tmpapplication.environ
tmpapplication.exe
!dgVoodooCpl.exe